*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;

}

.home-wrapper{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/pcbanner.png') no-repeat center;
    background-size: cover;
    color: white;
}           

header{
    position: fixed;
    padding: 10px 0;
    width: 100%;
    background-color: rgba(48, 48, 48, 0.5);
    line-height: 1;
}   

header img{
    width: 200px;
}

header nav{
    float: right;
    margin-top: 10px;
}     

header nav a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px 15px;
    font-family: 'Lobster', cursive;
} 

header nav a.active{
    background: #D81C1C;
    border-radius: 200px 0 150px;
}

#home{
    text-align: center;
    padding: 200px 0 150px;
}

#home h1{
    font-size: 60px;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 40px;
}

#home .divider{
    width: 80px;
    border-top: 5px solid #D81C1C;
    margin: 0 auto;
} 

#home p{
    font-size: 24px;
    margin-top: 40px;
}

#home .social{
    margin-top: 80px;
}

#home .social a{
    color: whitesmoke;
    display: inline-block;
    border-radius: 50%;
    background-color: #D81C1C;
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    width: 50px;
    line-height: 50px;
    margin-right: 10px;

    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    text-decoration: none;
}

#home .social a:hover{
    background-color: #1ACA4D;

}

#servicios .box{
    display: inline-block;
    text-align: center;
    width: 33%;
    padding: 10px;
}

#video{
    background-color: black;
    text-align: center;
    padding: 30px 0;
}

#portafolio{
    background-color: whitesmoke; 
}

#portafolio .box{
    display: inline-block;
    text-align: center;
    width: 31%;
    margin: 1%;
    background-color: white;
}
#portafolio.box img{
    width: 100%;
}

#portafolio.box p{
    color: #666;
    padding: 10px;
}

#portafolio .box a{
    color: black;
    text-decoration:none;
}
#portafolio .box a:hover{
color: #33006C;
cursor: pointer;
}
#contacto{
    background-color: #303030;
    background-image: url(../images/mapa-imagen.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

#contacto h2{
    color: white;
}

#contacto input{
    padding: 20px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#contacto textarea{
    margin: 20px 0;
    padding: 20px;
    width: 400px;
}

#contacto input.button{
    background-color: #D81C1C;
    padding: 20px 40px;
    border-color: white;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;

}

footer{
    padding: 90px 0;
    text-align: center;
    font-size: 18px;
}

section{
    padding: 80px 0;
}

section h2{
    font-size: 32px;
    text-align: center;
    margin-bottom: 80px;
    font-family: 'Lobster', cursive;
}
.container{
    text-decoration: none;
}
#contacto p{
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}
.box a{
    text-decoration: none;
    color: #000;
}
.box a:hover{
    color: #33006C;
    cursor: pointer;
}
.box a.btn_login{
    color: black;
    text-decoration: none;
}
.box a.btn_login{
    border-radius: 7px;
    padding: 0;
    color: #fff;
    background-color: #D81C1C;
    padding: 15px 25px;    
    cursor: pointer;
    border: none;
}
.box a.btn_login:hover {
    background-color: #941111;
}
.box a.btn_login{
    font-family: 'Lobster', cursive;
    -webkit-box-shadow: -5px 4px 20px 7px #751717; 
    box-shadow: -5px 4px 20px 7px #751717;
}